h2 {
    text-align: center;
}

h5 {
    font-size: 3.0rem;
    text-align: center;
}

.button-choice {
    padding: 1.5rem;
    width: 100%;
}

button.button-choice {
    display: flex;
    justify-content: column;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2.0rem;
    font-family: fantasy;
    border: 0.1rem solid plum;
    background-color: whitesmoke;
}

button.button-choice:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #333;
    transform: translateY(-0.1);
    transition: transform 150ms;
}
#right-wrong {
    font-size: 4.0rem;
    text-align: center;
    color: plum;
}